body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #1B1B1B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #222;
    padding: 15px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.liseuse {
    width: 60%;           /* largeur de la liseuse */
    height: 850px;        /* hauteur de la liseuse */
    border: 5px solid #ccc;
    display: block;          /* obligatoire */
    margin: 0 auto;          /* centre l’élément */
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #3A6EA5;
}

h2 {
    font-size: 2rem;
    color: #1B1B1B;
    margin-top: 40px;
    margin-bottom: 15px;
    position: relative;
    font-weight: 600;
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;
    height: 4px;
    background-color: #3A6EA5;
    border-radius: 2px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* ------------------------------------------------ */
/*                     LIENS                        */
/* ------------------------------------------------ */

a {
    color: #3A6EA5;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #F2545B;
}

/* ------------------------------------------------ */
/*                      BOUTONS                     */
/* ------------------------------------------------ */

button, .btn {
    padding: 12px 22px;
    background-color: #3A6EA5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s ease;
    display: inline-block;
}

button:hover, .btn:hover {
    background-color: #F2545B;
}

/* ------------------------------------------------ */
/*                       CARTES                     */
/* ------------------------------------------------ */

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    margin: 30px 0;
}

@media (max-width: 700px) {
    h1 { font-size: 2.2rem; }
    h2 { font-size: 1.6rem; }
    p { font-size: 1rem; }
    main {
        padding: 20px;
    }
}

.pokemon {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
