body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    padding: 15px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 30px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}

.liseuse {
    width: 60%;           /* largeur de la liseuse */
    height: 1000px;        /* hauteur de la liseuse */
    border: 5px solid #ccc;
    display: block;          /* obligatoire */
    margin: 0 auto;          /* centre l’élément */
}
